@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

/*Полужирный*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

/*наклонный*/
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

/*Полужирный наклонный*/
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

htmhl {
height: 100%;
  /*Фишка -вносим эти 2 строки только для того, чтобы видеть С каким элементом сейчас рабоатем
   outline: 5px solid red;
   outline-offset: -5px;
  */
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
    font-family: "PT Sans" sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
  }

  /* Light Для светлой кнопки 
  переключения вида товаров добавим светлый фон и тёмный текст.*/
.button-light {
  color: #242424;
  background-color: #FFFFFF;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* Pages */
    .page-header {
    color: #FFFFFF;
    background: #000000;
  }
  /*color и background всегда идут в паре*/
  
  .navigation {
    display: flex;
    width: 940px;
    margin: 0 auto;
       }

  .navigation-list {
    margin: 0;
    padding: 0;
    width: 460px;
  }

  .navigation-link {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }

  /*Каталог*/
  .navigation-logo {
    width: 140px;
    margin-right:100px;
  }
  
   .navigation-user {
    max-width: 250px;
    margin-left:auto;
  }

  /*Это для стики-футер*/
  .main-container {
flex-grow: 1;
  }

  /*фоновое изображение для главной страницы.*/
  .main-index {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url("images/index-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  
  /*Добавим рябящий фон из макета,
  фоновый цвет и контрастный цвет текста для внутренних страниц.*/
  .main-inner {
    color:#242424;
    background-color: #f7f7f4;
    background-image: url("images/bg-noisy.png");
  }

  .page-container {
    width: 940px;
    margin: 0 auto;
  }

  .logo {
    display:block;
    margin: 0 auto;
  }

  /*Преимущества*/
  .advantages-list {
    display:flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
  }

  .advantages-item {
    width: 277px;
  }
  
  /* Title */
  .advantages-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
  }
  
  /* обертка index-columns для общего паттерна на 2 секции*/
  .index-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url("images/bg-noisy.png");
  }
  
  /* Services*/
    .services {
      width: 390px;
    text-transform: uppercase;
  }
  
  /* Title */
  .services-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
  }
  
  /* Price */
  .services-list {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
  
  .services-price {
    color: #AF7842;
  }
  
  .gallery {
width: 390px;
  }

  /* Title */
  .gallery-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;

  }.contacts {
    width: 350px;
    font-weight: 700;
  }
  
  /* Title */
  .contacts-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .contacts-address {
    font-style: normal;
  }
  
  /* Subtitle */
  .contacts-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AF7842;
  }
  
  /*В блоке «Контакты» обязательно указываем цвет текста для телефона. Адрес размечен с помощью тега <address>, 
  поэтому нужно указать ему font-style: normal;. Дело в том, что у тега <address> 
  для этого CSS-свойства есть браузерные стили по умолчанию, которые нам нужно переопределить.*/
  .contacts-phone {
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
  }
  
  /* Title */
  .appointment {
width: 430px;
  }

  .appointment-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  /* List */
  .appointment-form {
    color: #595959;
  }
  
  /* Label */
  .form-label {
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  /*--Футер. Добавим фоновый цвет, фоновое изображение, 
  вет текста и текстовые параметры для всего футера.*/
  .page-footer {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #242424;
    background-image: url("images/bg-noisy.png");
    background-repeat: repeat;
  }

  /*Зададим ссылкам цвет и размер.*/
   .page-footer a {
    color: #FFFFFF;
  }
  
  .page-footer .htmlacademy-link {
    font-size: 14px;
    color: #DBB590;
  }

  .page-footer-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  .page-footer-container {
    display:flex;
    width: 940px;
    margin: 0 auto;
  }

  .footer-contacts {
    width: 200px;
    margin-right: 130px;
      }

  .footer-contacts-address {
    font-style: normal;
  }
  
  .footer-contacts-address p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
  }
  
  .footer-contacts-address-phone {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
  }
  
  .footer-contacts-map-link {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .footer-social {
    margin-left: auto;
    max-width: 190px;
  }
  
  /*Каталог*/
.inner-header-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/*Breadcrumbs стили для хлебных крошек. 
Для ссылок начнём наследование цвета текста от родителя*/
.breadcrumbs {
  color:#242424;
}

/*Link*/
.breadcrumbs-link {
  color: inherit;
}

.catalog-products {
  display:flex;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

/* Label */
.control-label {
  font-weight: 700;
}

.sorting-container {
  color: #000000;
  background-color: #FFFFFF;
}

/*обертка чтобы элементы встали  в колоку: Сортировка-Кааталог-Пагинация*/
.catalog-right-column {
  width: 700px;
}

/* Item  базовая стилизацию для карточек товара*/
.product-card {
  background-color: #FFFFFF;
}

/* Link */
.product-card-link {
  text-decoration: none;
}

/* Title */
.product-card-title {
  font-weight: 700;
  color: #242424;
}

/* Price */
.product-card-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #814B18;
  text-transform: uppercase;
}

/* Link стилизация для пагинации.*/
.pagination {
  background-color: #FFFFFF;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination-current {
  color: #242424;
  background-color: #FFFFFF;
}

.pagination-disabled {
  background-color: #595959;
}
